@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html,body {
  scroll-behavior: smooth;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  height: auto;
}

/* NAVIGATOR */

.nav {
  max-height: 80px;
  height: 80px;
}

.qpc-burger{
  height: 30px;
  width: 30px;
}

/* HERO */

.hero-image-container {
  min-height: 100vh;
  /* max-height: 1080px; */
}

.hero-tag {
  max-width: 300px;
}

.hero-tag .image-container {
  width: 50px;
  height: 50px;
}

/*FEATURES */
.fb-01 {
  background: #3E00C3;
}
.fb-02 {
  background: #F86249;
}
.fb-03 {
  background: #FFC319;

}

.fb-04 {
  background: #161543;
}

.sharesteps-title {
  color: #FFC319;
}
.share-point {
  width: 60px;
  height: 60px;
}

.text-qpc-orange {
  color: #FFC319;
}

/** COLORS **/

.qpc-orange{
  background: #F86249;
}

.qpc-bg-dark {
  background: #161543;
}

.qpc-bg-dark-blue {
  background: #3E00C3;
}

.qpc-button-color {
  background: #B2B1F1;
}

.qcp-bg-light-blue {
  background: #5028CB;
}

.qcp-text-dark-orange {
  color: #F86249;
}


.social {
  width: 50px;
  height: 50px;
}

.account-btn {
  display: inline-block;
  background: #5028CB;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.theme img{
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.hero-card-1, .hero-card-2 {
  width: 80%;
}
.hero-card-1,.hero-card-2{
  transform: perspective(5000);
  -webkit-transform: perspective(5000);
  -o-transform: perspective(5000) ;
  -moz-transform: perspective(5000) ;
  transform: translateZ(-500);
  
}

.hero-card-2{
  transform: perspective(5000);
  -webkit-transform: perspective(5000);
  -o-transform: perspective(5000) ;
  -moz-transform: perspective(5000) ;
  transform: translateZ(100px);
  
}

.hero-images {

  transform-style: preserve-3d;
  
}

.break-wrapper {
  position: relative;
  min-height: 70vh;
  /* perspective: 300px;
  overflow-x: hidden;
  overflow-y: visible; */
}

.break-card {
  scale: 0.7
}

.break-card-1 {
  left: 400px;
}

.break-card-2 {
  /* top: -250px; */
  left: -300px;
}

.break-card-3 {
  right: -200px;
  /* top: -500px; */
}

.break-card-4 {
  left: 100px;
  /* bottom: -200px; */
  top: -200px;
}

.break-card-5 {
  right: -200px;
  /* bottom: -100px; */
  top: -200px;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.floating-div {
  animation: float 3s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);
  -moz-animation: float 3s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);;
  -webkit-animation: float 3s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);
  -o-animation: float 3s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);

  animation-timing-function: linear;
}

.floating-div2 {
  animation: float 5s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);
  -moz-animation: float 5s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);;
  -webkit-animation: float 5s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);
  -o-animation: float 5s infinite cubic-bezier(0.0, 0.0, 1.0, 1.0);

  animation-timing-function: linear;
}
