@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin: auto;
  height: auto;
}

/* NAVIGATOR */

.nav {
  max-height: 80px;
  height: 80px;
}

.qpc-burger{
  height: 30px;
  width: 30px;
}

/* HERO */

.hero-image-container {
  min-height: 100vh;
  /* max-height: 1080px; */
}

.hero-tag {
  max-width: 300px;
}

.hero-tag .image-container {
  width: 50px;
  height: 50px;
}

/*FEATURES */
.fb-01 {
  background: #3E00C3;
}
.fb-02 {
  background: #F86249;
}
.fb-03 {
  background: #FFC319;

}

.fb-04 {
  background: #161543;
}

.sharesteps-title {
  color: #FFC319;
}
.share-point {
  width: 60px;
  height: 60px;
}

.text-qpc-orange {
  color: #FFC319;
}

/** COLORS **/

.qpc-orange{
  background: #F86249;
}

.qpc-bg-dark {
  background: #161543;
}

.qpc-bg-dark-blue {
  background: #3E00C3;
}

.qpc-button-color {
  background: #B2B1F1;
}

.qcp-bg-light-blue {
  background: #5028CB;
}

.qcp-text-dark-orange {
  color: #F86249;
}


.social {
  width: 50px;
  height: 50px;
}

.account-btn {
  display: inline-block;
  background: #5028CB;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
